body{
    background-image: url("http://getwallpapers.com/wallpaper/full/9/e/2/110990.jpg");
}
p{
    font-family: fantasy;
}
h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h3{
    font-family: Comic Sans MS;
    text-align: center;
}